@{
    Layout = "_LayoutLogin";
}
@model Sign_inWithGGAcc.Models.InternalUserModel.InternalUser

<section class="vh-100" style="background-color: #B2BEB5;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="login-image.jpg" width="666" height="1000"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form asp-action="Login">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">NASA System</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                    <div class="form-outline mb-4">
                                        <input type="email" id="form2Example17" class="form-control form-control-lg" asp-for="Email"/>
                                        <label class="form-label" for="form2Example17">Email address</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="form2Example27" class="form-control form-control-lg" asp-for="Password" />
                                        <label class="form-label" for="form2Example27">Password</label>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                    </div>
                                    
                                    
                                    <div class="row">
                                        <div class="col">
                                            <a class="btn btn-light btn-lg btn-block" href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=449025779765-4c194gv75pqfpttq8e72qb9uda2qap3f.apps.googleusercontent.com&redirect_uri=https://localhost:7216/google/callback&scope=https://www.googleapis.com/auth/userinfo.profile"
                                               rel="noopener" style="color: #000000;">
                                                <img src="~/icon-google-30.png"> Login with Google
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="btn btn-light btn-lg btn-block" href="#" rel="noopener" style="color:#000000;">
                                                <img src="~/icon-fb-24.png"> Login with Facebook
                                            </a>
                                        </div>
                                    </div>
                                    <br />
                                    <br />

                                    <a class="mb-5 pb-lg-2" style="color: #393f81;" href="#!">Forgot password?</a>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        Don't have an account? <a href="https://localhost:7216/Register"
                                                                  style="color: #393f81;">Register here</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>