@{
    Layout = "_LayoutLogin";
    var result = ViewData["Result"];
    var familyName = ViewData["FamilyName"];
    var givenName = ViewData["GivenName"];
}
<br />
<h1>@result</h1>
<h2>Chào mừng @familyName @givenName</h2>